@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
  font-family: 'Noto Serif', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --palette-dark: #333333;
  --palette-light: #ffffff; 
  --palette-light-dim: #ececec; 
  --palette-light-dimmer: #c7c7c7; 
  --palette-sage: #e1f4f3; 
  --palette-brown: #706c61;
  --palette-browner: rgb(70, 64, 48);

  --palette-orange: rgb(252, 221, 47);
  --palette-red: rgb(194, 22, 22);
}

#root {
  margin: 0 auto;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--palette-browner);
}

/* nav */ 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--palette-orange);
}

.nav-title {
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 4.5rem;
  color: var(--palette-dark);
  box-shadow: 10px 5px 0px var(--palette-dark);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-orange);
}

.nav-button {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--palette-light);
  box-shadow: 5px 2.5px 0px var(--palette-dark);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-red);
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.nav-button:hover {
  background-color: var(--palette-light);
  color: var(--palette-dark);
  box-shadow: 10px 5px 0px var(--palette-dark);
}

@media (max-width: 600px) {
  .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* hero */

.hero-background {
  background-color: var(--palette-orange);
}

.hero {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.hero-latest-post {
  background-color: var(--palette-red);
  color: var(--palette-light);
  padding: 1rem;
  box-shadow: 5px 2.5px 0px var(--palette-dark);
  border: 2px solid var(--palette-dark);
  cursor: pointer;
  margin-top: 3rem;
  transition: all ease-in-out 0.2s;
}

.hero-latest-post:hover {
  background-color: var(--palette-light);
  color: var(--palette-dark);
  box-shadow: 10px 5px 0px var(--palette-dark);
}

.hero-title {
  font-size: 4rem;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.75rem;
  margin: 0;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .hero-title, .hero-subtitle {
    text-align: center;
  }
}

/* trending */

.trending-container {
  background-color: var(--palette-browner);
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  min-height: 75vh;
}

.trending-title {
  margin: 0;
  color: var(--palette-light);
  padding: 2rem;
  font-size: 3.25rem;
}

.trending-post-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.switch-post {
  color: var(--palette-light);
  font-size: 2rem;
  cursor: pointer;
}

.trending-post-title {
  font-size: 2rem;
  color: var(--palette-light);
  font-weight: 200;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.trending-post {
  padding: 1rem;
  font-size: 1.75rem;
  max-width: 75rem;
  text-align: left;

  color: var(--palette-dark);
  box-shadow: 10px 10px 0px var(--palette-light-dimmer);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-light-dim);

  transition: all ease-in-out 0.2s;
  cursor: pointer;

}

.trending-post:hover {
  background-color: var(--palette-light-dimmer);
}

@media(max-width: 800px) {
  .trending-post {
    order: 3
  }
  .trending-post-container {
    flex-direction: column-reverse;
  }
}

/* all posts */

.all-posts-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 1rem;
}

.like-dislike {
  display: flex;
  gap: 1.5rem;
}

.likes, .dislikes {
  display: flex;
  align-items: center;
  gap: 5px;
}