@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

:root {
  font-family: Montserrat, 'Noto Serif', Helvetica, Arial, sans-serif;

  --palette-dark: #333333;
  --palette-dark-dim: #535353;
  --palette-light: #fcfcfc; 
  --palette-light-dim: #ececec; 
  --palette-light-dimmer: #dddddd; 
  --palette-sage: #e1f4f3; 
  --palette-brown: #706c61;
  --palette-browner: rgb(70, 64, 48);

  --palette-blue: #b5bbe9; 
  --palette-blue-light: #c4c1e0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--palette-light-dim);
}

/* nav */ 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--palette-light-dimmer);
}

.nav-title {
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 4.5rem;
  color: var(--palette-dark);
  box-shadow: 10px 5px 0px var(--palette-dark);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-blue);
}

.nav-button {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--palette-dark);
  box-shadow: 5px 2.5px 0px var(--palette-dark);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-blue);
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.nav-button:hover {
  background-color: var(--palette-dark-dim);
  color: var(--palette-light-dim);
  box-shadow: 10px 5px 0px var(--palette-dark);
}

@media (max-width: 600px) {
  .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* hero */

.hero-background {
  background-color: var(--palette-light-dimmer);
}

.hero {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.hero-latest-post {
  font-size: 2rem;
  background-color: var(--palette-blue);
  color: var(--palette-dark);
  padding: 1rem;
  box-shadow: 5px 2.5px 0px var(--palette-dark);
  border: 2px solid var(--palette-dark);
  cursor: pointer;
  margin-top: 3rem;
  transition: all ease-in-out 0.2s;
}

.hero-latest-post:hover {
  background-color: var(--palette-dark-dim);
  color: var(--palette-light-dim);
  box-shadow: 10px 5px 0px var(--palette-dark);
}

.hero-title {
  font-size: 6rem;
  margin: 0;
}

.hero-subtitle {
  font-size: 2.5rem;
  margin: 0;
  font-family: Cardo, 'Noto Serif', Helvetica, Arial, sans-serif;
  font-style: italic;
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .hero-title, .hero-subtitle {
    text-align: center;
  }
}

/* trending */

.trending-container {
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  min-height: 75vh;
}

.trending-title {
  margin: 0;
  color: var(--palette-dark);
  padding: 2rem;
  font-size: 3.25rem;
}

.trending-post-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.switch-post {
  color: var(--palette-dark);
  font-size: 2rem;
  cursor: pointer;
}

.trending-post-title {
  font-size: 2rem;
  color: var(--palette-dark);
  font-weight: 200;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.trending-post {
  padding: 1rem;
  font-size: 1.75rem;
  max-width: 75rem;
  text-align: left;
  width: 100%;

  color: var(--palette-dark);
  box-shadow: 10px 10px 0px var(--palette-light-dimmer);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-light-dim);

  transition: all ease-in-out 0.2s;

  font-family: Cardo, 'Noto Serif', Helvetica, Arial, sans-serif;
  font-style: italic;
}

@media(max-width: 800px) {
  .trending-post {
    order: 3
  }
  .trending-post-container {
    flex-direction: column-reverse;
  }
}

/* all posts */

.all-posts-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

.likes-dislikes {
  display: flex;
  gap: 1.5rem;
}

.likes, .dislikes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.like-count, .dislike-count {
  color: var(--palette-dark);
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat, 'Noto Serif', Helvetica, Arial, sans-serif;
  font-style: normal;
}

.post-title {
  font-family: Montserrat, 'Noto Serif', Helvetica, Arial, sans-serif;
  font-style: normal;
}

#read-post {
  margin: 0;
  box-shadow: none;
}

/* active post */

.active-post {
  padding: 1rem;
  font-size: 1.75rem;
  max-width: 90%;
  margin: auto;
  min-height: 100svh;
  color: var(--palette-light);
  transition: all ease-in-out 0.2s;
}

.active-post-title {
  font-size: 4rem;
  text-align: center;
  color: var(--palette-dark);
}

.active-post-text-container {
  width: 90%;
  margin: auto;
}

.active-post-text {
  font-size: 2rem;
  text-align: left;
  color: var(--palette-dark);
}

.active-like,
.active-dislike {
  cursor: pointer;
  filter: invert(16%) sepia(66%) saturate(0%) hue-rotate(252deg) brightness(25%) contrast(89%);
}

.active-like:hover, .active-like:focus {
  filter: invert(43%) sepia(95%) saturate(3242%) hue-rotate(94deg) brightness(96%) contrast(96%);
}

.active-dislike:hover, .active-dislike:focus {
  filter: invert(66%) sepia(71%) saturate(4394%) hue-rotate(11deg) brightness(102%) contrast(150%);
}

/* comments */

.comment {
  padding: 1rem;
  font-size: 1.75rem;
  text-align: left;
  color: var(--palette-dark);
  box-shadow: 5px 5px 0px var(--palette-light-dimmer);
  border: 4px solid var(--palette-dark);
  background-color: var(--palette-light-dim);

  transition: all ease-in-out 0.2s;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 4rem;
  margin-left: 5%;
  margin-right: 50%;
}

label {
  color: var(--palette-dark);
}

.hidden {
  display: none;
}

.form-comment {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  gap: 1rem;
  margin-left: 5%;
  margin-right: 50%;
}

.form-label {
  font-weight: bold;
  font-size: 2.5rem;
}

#form-submit {
  font-size: 2rem;
  font-weight: bold;
}